//custom styles for images and captions

.figure-center {
  margin: 0;
  text-align: center;
}

.figure-caption-center {
  text-align: center;
  @include fs-2;
}

a:link {
  color: #12976b;
}

a:visited {
  color: #15a872;
}

