//custom styles for images and captions

.figure-center {
  margin: 0;
  text-align: center;
}

.figure-caption-center {
  text-align: center;
  @include fs-2;
}

// custom styles for links

a:link {
  color: #12976b;
}

a:visited {
  color: #15a872;
}

//custom variables for code highlighting
$code-background-color: #f8f8f8;
$border-color: $code-background-color;

@import "../color_schemes/monochrome.scss";