//custom styles for images and captions

.figure-center {
  margin: 0;
  text-align: center;
}

.figure-caption-center {
  text-align: center;
  @include fs-2;
}

// Avoid appearance of dark border around visited code links in Safari
a:visited {
  color: #15A872;
}