.syntax-highlight .hll { background-color: #ffffcc }
.syntax-highlight  { background: #ffffff; }
.syntax-highlight .c { color: #888888 } /* Comment */
.syntax-highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.syntax-highlight .k { color: #008800; font-weight: bold } /* Keyword */
.syntax-highlight .o { color: #333333 } /* Operator */
.syntax-highlight .ch { color: #888888 } /* Comment.Hashbang */
.syntax-highlight .cm { color: #888888 } /* Comment.Multiline */
.syntax-highlight .cp { color: #557799 } /* Comment.Preproc */
.syntax-highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.syntax-highlight .c1 { color: #888888 } /* Comment.Single */
.syntax-highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.syntax-highlight .gd { color: #A00000 } /* Generic.Deleted */
.syntax-highlight .ge { font-style: italic } /* Generic.Emph */
.syntax-highlight .gr { color: #FF0000 } /* Generic.Error */
.syntax-highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax-highlight .gi { color: #00A000 } /* Generic.Inserted */
.syntax-highlight .go { color: #888888 } /* Generic.Output */
.syntax-highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.syntax-highlight .gs { font-weight: bold } /* Generic.Strong */
.syntax-highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax-highlight .gt { color: #0044DD } /* Generic.Traceback */
.syntax-highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.syntax-highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.syntax-highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.syntax-highlight .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.syntax-highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.syntax-highlight .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.syntax-highlight .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.syntax-highlight .s { background-color: #fff0f0 } /* Literal.String */
.syntax-highlight .na { color: #0000CC } /* Name.Attribute */
.syntax-highlight .nb { color: #007020 } /* Name.Builtin */
.syntax-highlight .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.syntax-highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.syntax-highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.syntax-highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.syntax-highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.syntax-highlight .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.syntax-highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.syntax-highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.syntax-highlight .nt { color: #007700 } /* Name.Tag */
.syntax-highlight .nv { color: #996633 } /* Name.Variable */
.syntax-highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.syntax-highlight .w { color: #bbbbbb } /* Text.Whitespace */
.syntax-highlight .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.syntax-highlight .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.syntax-highlight .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.syntax-highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.syntax-highlight .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.syntax-highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.syntax-highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.syntax-highlight .sc { color: #0044DD } /* Literal.String.Char */
.syntax-highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.syntax-highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.syntax-highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.syntax-highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.syntax-highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.syntax-highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.syntax-highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.syntax-highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.syntax-highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.syntax-highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.syntax-highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.syntax-highlight .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.syntax-highlight .vc { color: #336699 } /* Name.Variable.Class */
.syntax-highlight .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.syntax-highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.syntax-highlight .vm { color: #996633 } /* Name.Variable.Magic */
.syntax-highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */